<button
  nzType="primary"
  nzShape="circle"
  nz-button
  (click)="showReceitaModal()"
>
  <i nz-icon nzType="plus" nzTheme="outline"></i>
</button>

<nz-modal
  #receita
  [(nzVisible)]="isModalReceitaVisible"
  nzTitle="Adicionar receita"
  (nzOnCancel)="handleCancelReceita()"
  (nzOnOk)="handleReceitaSubmit(newReceitaForm.value)"
>
  <ng-container *nzModalContent>
    <form
      class="form"
      nz-form
      [formGroup]="newReceitaForm"
      autocomplete="off"
    >

    <nz-form-item class="form-item">
      <nz-form-label nzRequired nzFor="descricao">
        Descrição da receita
      </nz-form-label>

      <nz-form-control class="field">
        <input
          type="text"
          nz-input
          formControlName="descricao"
          placeholder="Descrição da receita"
        >
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="form-item">
      <nz-form-label nzRequired nzFor="valor">
        Valor
      </nz-form-label>

      <nz-form-control class="field">
        <input
          type="number"
          nz-input
          formControlName="valor"
          placeholder="Valor da receita"
        >
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="form-item">
      <nz-form-label nzRequired nzFor="valor">
        Data
      </nz-form-label>

      <nz-form-control class="field">
        <nz-date-picker formControlName="data"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="form-item">
      <nz-form-label nzRequired nzFor="categoria">
        Categoria
      </nz-form-label>

      <nz-form-control class="field">
        <nz-select nzPlaceHolder="Selecione..." formControlName="categoriaId">
          <nz-option
            *ngFor="let categoria of receitaCategorias"
            [nzValue]="categoria.id"
            [nzLabel]="categoria.descricao"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    </form>
  </ng-container>

</nz-modal>
